<container class="searchfield">
  <form onsubmit="doSearch(event, this)">
    <label>Search:
      <input type="text" id="search-input" name="searchText" value="Hutt"/>
    </label>
    <button type="submit">Search</button>
  </form>

  <div id="result-count"></div>
  <table id="result-table"></table>
</container>

<button type="button" id="viewSpecies" name="button">Click here to view list of speices</button>

<div class="speiceslist" id="speiceslist">
  <h1>Speices</h1>
</div>

<%= javascript_include_tag "speices" %>