<%= javascript_include_tag "overview" %>

<h1>WHAT ARE YOU LOOKING FOR?</h1>

<div class="links">

  <div class="view overlay zoom">
    <a type="button" id="planetButton" name="button" href="/planets">
      <img src="https://i.pinimg.com/originals/7a/41/db/7a41db4b2d1a61809a8ffa43c983042f.jpg" alt="planets.img" style="width:342px;height:342px;">
      <div class="mask flex-center waves-effect waves-light">
        <h1>Planets</h1>
      </a>
    </div>
  </div>

  <div class="view overlay zoom">
    <a type="button" id="peopleButton" name="button" href="/people">
      <img src="http://digitalspyuk.cdnds.net/16/35/980x490/landscape-1472574630-star-wars-characters.jpg" alt="films.img" style="width:342px;height:342px;">
      <div class="mask flex-center waves-effect waves-light">
        <h1>People</h1>
      </a>
    </div>
  </div>

  <div class="view overlay zoom">
    <a type="button" id="filmsButton" name="button" href="/films">
      <img src="http://2.bp.blogspot.com/-Xn9qxoHIU2o/VZUVIECS46I/AAAAAAAABSY/Mj4zb48-IOk/s1600/CI1RJcQUMAA6NSB.jpg" alt="speices.img" style="width:342px;height:342px;">
      <div class="mask flex-center waves-effect waves-light">
        <h1>Movies</h1>
      </a>
    </div>
  </div>

  <div class="view overlay zoom">
    <a type="button" id="speicesButton" name="button" href="/speices">
      <img src="https://thenypost.files.wordpress.com/2017/12/star_porg1a.jpg?quality=90&strip=all&w=618&h=410&crop=1" alt="species.img" style="width:342px;height:342px;">
      <div class="mask flex-center waves-effect waves-light">
        <h1>Species</h1>
      </a>
    </div>
  </div>

  <div class="view overlay zoom">
    <a type="button" id="vehicalsButton" name="button" href="/vehicles">
      <img src="https://cdn.movieweb.com/img.news.tops/NEyVnKFiyCU9CC_2_b/Star-Wars-Real-At-At-How-Much-Cost.jpg" alt="vehicles.img" style="width:342px;height:342px;">
      <div class="mask flex-center waves-effect waves-light">
        <h1>Vehicles</h1>
      </a>
    </div>
  </div>

  <div class="view overlay zoom">
    <a type="button" id="spaceshipButton" name="button" href="/spaceships">
      <img src="https://cnet3.cbsistatic.com/img/iSRVfmZ9bvVRQqjDrtN776X7gjY=/936x527/2015/02/05/8b785eba-fa23-4241-a444-c45c7ff7f4a9/star-wars-vehicles-imperial-star-destroyer.png" alt="ships.img" style="width:342px;height:342px;">
      <div class="mask flex-center waves-effect waves-light">
        <h1>Spaceships</h1>
      </a>
    </div>
  </div>

</div>
