<h1>What are you looking for?</h1>
<div class="info-container">
  <button type="button" id="planetButton" name="button">Planets</button>
  <button type="button" id="peopleButton" name="button">People</button>
   <button type="button" id="filmsButton" name="button">Films</button>
   <button type="button" id="speciesButton" name="button">Species</button>
   <button type="button" id="vehiclesButton"name="button">Vehicles</button>
</div>
