<div class="peoplelist">

  <h1>People</h1>
  <h2 id="name"></h2>
  <p id="height"></p>
  <p id="mass"></p>
  <p id="eye_color"></p>
  <a id="homeworld"></a>
  <a id="vehicles"></a>

</div>


  <script type="text/javascript">

    document.addEventListener("turbolinks:load", function(){


        getInfo();
    });




  </script>
