<container class="searchfield">
  <form onsubmit="doSearch(event, this)">
    <label>Search:
      <input type="text" id="search-input" name="searchText" value="Imp"/>
    </label>
    <button type="submit">Search</button>
  </form>

  <div id="result-count"></div>
  <table id="result-table"></table>
</container>

<button type="button" id="viewShips" name="button">Click here to view list of spaceships</button>

<div class="spaceshiplist" id="spaceshiplist">
  <h1>Spaceships</h1>
</div>

<%= javascript_include_tag "spaceships" %>