<container class="searchfield">
  <form onsubmit="doSearch(event, this)">
  <label>Search:
    <input type="text" id="search-input" name="searchText" value="The" />
  </label>
  <button type="submit">Search</button>
</form>

<div id="result-count"></div>
<table id="result-table"></table>
</container>

<button type="button" id="viewFilms" name="button">Click here to view list of movies</button>

<div class="filmlist" id="filmlist">
  <h1>Movies</h1>
</div>

<%= javascript_include_tag "films" %>
