body {
  background-image: url('https://images.unsplash.com/photo-1442917377311-e0c8b1476d42?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5e19e632e864449b74919dbb93d0bcc8&auto=format&fit=crop&w=1116&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  height: 90px;
}

.bg-dark {
    background-color: #000000!important;
}

p {
  color: #ffc06e;
  margin: 5px;
}

h1 {
  color: #ffc06e;
}

h2 {
  color: #ffc06e;
}

a {
  color: #ffc06e;
}


.info-container {
margin-top: 5%;

}

li {
  color: #ffc06e;
  list-style-type: none;

}
